CompileFlags:
  Add:
    - -D __WCHAR_MIN__
    - -I./.pio/libdeps/native/doctest/doctest/
    - -I./lib/nb/src/
    - -I./lib/memory/src/
    - -I./lib/util/src/
    - -I./lib/net/src/
    - -I./lib/media/src/
    - -I./lib/tl/src/
    - -I./lib/logger/src/
    - -I./lib/board/src/
    - -I./lib/app/src/
