BasedOnStyle: LLVM
IndentWidth: 4
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Empty
ColumnLimit: 100
SeparateDefinitionBlocks: Always
AlwaysBreakTemplateDeclarations: Yes
NamespaceIndentation: All
PackConstructorInitializers: CurrentLine
AlignAfterOpenBracket: BlockIndent
BinPackParameters: false
AllowAllParametersOfDeclarationOnNextLine: false
AlignOperands: DontAlign
